$prefix: 'video-';
$prefixClass: '.' + $prefix;

$element: $prefix + 'content';

$primaryColor: #D1626F !default;
$secondaryColor: #f3f3f3 !default;

#{$prefixClass}responsive-container {
    position: relative;
    overflow: hidden;
    padding-top: 56.25%;
}

#{$prefixClass}embedded {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

$listClass: '.list-group-item';

#{$element} {
    #{$prefixClass}title {
        color: #{$primaryColor};
        font-weight: 500;
    }

    #{$listClass} {
        &:first-child {
            border-top-right-radius: 0;
            border-top-left-radius: 0;
        }

        &:last-child {
            border-bottom-right-radius: 0;
            border-bottom-left-radius: 0;
        }
    }

    #{$prefixClass}set-time {
        #{$prefixClass}chapter-title {
            font-size: 1.8rem;
            padding: 0;
            margin: 0;
        }

        #{$prefixClass}chapter-seconds {
            margin-left: 1rem;
            font-weight: bold;
        }

        #{$prefixClass}content-placeholder {
            display: none;
        }
    }

    #{$prefixClass}set-time:hover {
        cursor: pointer;
        background: #{$primaryColor};
        color: #{$secondaryColor};

        #{$prefixClass}chapter-title {
            color: #{$secondaryColor};
        }
    }
}
